body{
    font-family: Arial, Helvetica, sans-serif;  
    width: 100%;
}

/*mobile first*/
@media (max-width: 760px){


    .imgColectivo{
 
        display: grid;
        place-items: center;
        margin: auto;
        padding-top: 100px;
      
    }


    #barraBuscador{
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        margin: auto;
        padding: 20px 0px 0px 0px;
        width: 65%;
    }

    .mensajeError{
        font-size: 12px;
    }

    #resultadoColectivo{
        display: flex;
        justify-content: center;
        align-items: center;

        margin: auto;
        padding-top: 20px;
    }

    
    .botonGoBack{
        display: flex;
        justify-content: center;
        align-items: center;

        padding-top: 20px;
    }


    #btnIda{
       
       display: flex;
       justify-content: center;
       align-items: center;

        margin: 5px;
        padding: 25px 20px;
        border-radius: 50%;
    }

    .textIda{
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #btnVuelta{
       
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 5px;
        padding: 25px 10px;
        border-radius: 50%;       
    }

    .textVuelta{
        display: flex;
        justify-content: center;
        align-items: center;

    }

}


/*Tablet*/
@media (min-width: 761px) and (max-width:1023px) {

    .imgColectivo{
 
        display: grid;
        place-items: center;
        margin: auto;
        padding-top: 100px;
    }
    

    #barraBuscador{
        display: flex;
        justify-content: center;
        align-items: center;
        
        margin: auto;
        padding: 50px 0px 0px 0px;
        width: 40%;
    }

    .mensajeError{
        font-size: 14px;
    }
    
    #resultadoColectivo{
        display: flex;
        justify-content: center;
        align-items: center;
    
        margin: auto;
        padding-top: 20px;
    }

    
    .botonGoBack{
        display: flex;
        justify-content: center;
        align-items: center;

        padding-top: 20px;
    }


    #btnIda{
       
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 5px;
        padding: 25px 20px;
        border-radius: 50%;
    }

    .textIda{
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #btnVuelta{
       
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 5px;
        padding: 25px 10px;
        border-radius: 50%;       
}

.textVuelta{
    
        display: flex;
        justify-content: center;
        align-items: center;

}


}



/*DESKTOP*/
@media (min-width:1024px){

    .imgColectivo{
    
        display: grid;
        place-items: center;
        margin: auto;
        padding-top: 120px;

}

    #barraBuscador{
        display: flex;
        justify-content: center;
        align-items: center;
            
        margin: auto;
        padding: 30px 0px 0px 0px;
        width: 30%;
}

     .mensajeError{
         font-size: 16px;
     }
    
    #resultadoColectivo{
        display: flex;
        justify-content: center;
        align-items: center;
    
        margin: auto;
        padding-top: 20px;
    }

    .botonGoBack{
        display: flex;
        justify-content: center;
        align-items: center;

        padding-top: 20px;
}


    #btnIda{
        
       display: flex;
       justify-content: center;
       align-items: center;

        margin: 5px;
        padding: 25px 20px;
        border-radius: 50%;
}

.textIda{
       display: flex;
       justify-content: center;
       align-items: center;

}

#btnVuelta{
       
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 5px;
        padding: 25px 10px;
        border-radius: 50%;       
}

.textVuelta{
        display: flex;
        justify-content: center;
        align-items: center;

}

}