body{
    font-family: Arial, Helvetica, sans-serif;  
    width: 100%;
}

/*mobile first*/
@media (max-width: 760px){


    .imgColectivo{
 
        display: grid;
        place-items: center;
        margin: auto;
        padding-top: 100px;
      
    
    }


    #barraBuscador{
    
        display: flex;
    justify-content: center;
    align-items: center;
    
    margin: auto;
    padding: 20px 0px 0px 0px;
    width: 65%;
    }

    #resultadoColectivo{
        display: flex;
        justify-content: center;
        align-items: center;

        margin: auto;
        padding-top: 20px;
    }

}


/*Tablet*/
@media (min-width: 761px) and (max-width:1023px) {

    .imgColectivo{
 
        display: grid;
        place-items: center;
        margin: auto;
        padding-top: 100px;
      
    
    }
    

    #barraBuscador{
        display: flex;
        justify-content: center;
        align-items: center;
        
        margin: auto;
        padding: 50px 0px 0px 0px;
        width: 40%;
    }
    
    #resultadoColectivo{
        display: flex;
        justify-content: center;
        align-items: center;
    
        margin: auto;
        padding-top: 20px;
    }


}



/*DESKTOP*/
@media (min-width:1024px){

.imgColectivo{
 
    display: grid;
    place-items: center;
    margin: auto;
    padding-top: 120px;

}

    #barraBuscador{
        display: flex;
        justify-content: center;
        align-items: center;
        
        margin: auto;
        padding: 30px 0px 0px 0px;
        width: 30%;
    }
    
    #resultadoColectivo{
        display: flex;
        justify-content: center;
        align-items: center;
    
        margin: auto;
        padding-top: 20px;
    }

    .horariosBondi{
        background-color: aquamarine;
    }

}